.alerts-list {
  margin-top: 1rem;
  background-color: #031c2f;
  padding: 1rem;
  border-radius: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.alerts-list ul {
  list-style: none;
  padding: 0;
}
.alerts-list li {
  background-color: #003f5c;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
}
